In [1]:
from Univar import Univariate
import pandas as pd
dataset = pd.read_csv("Placement.csv")

In [2]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [4]:
dataset.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [5]:
dataset["ssc_p"].median()

67.0

In [6]:
#dataset["ssc_p"].mode()
dataset["ssc_p"].mode()[0]

62.0

In [7]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [8]:
quan,qual =Univariate.quanqual(dataset)

#Central Tendancy

In [9]:
descriptive = pd.DataFrame()

In [10]:
descriptive = pd.DataFrame(index=[])

In [11]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode"])

In [12]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [13]:
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [14]:
#descriptive["hsc_p"] ["Mean"] = 0
descriptive.loc["Mean", "hsc_p"] = 0

In [15]:
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN     0      NaN     NaN   NaN    NaN
Median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [16]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [17]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()

In [18]:
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]

In [19]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

In [20]:
import numpy as np

In [21]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [22]:
#table form
descriptive= pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]

In [23]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

In [24]:
#table form
descriptive= pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q1:50%","Q1:75%","Q1:100%"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]
    descriptive.loc["Q1:25%",ColumnName]=dataset.describe()[ColumnName]["25%"]
    descriptive.loc["Q1:50%",ColumnName]=dataset.describe()[ColumnName]["50%"]
    descriptive.loc["Q1:75%",ColumnName]=dataset.describe()[ColumnName]["75%"]
    #descriptive.loc["Q1:99%",ColumnName]=dataset.describe()[ColumnName]["99%"]
    descriptive.loc["Q1:100%",ColumnName]=dataset.describe()[ColumnName]["max"]

In [25]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q1:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q1:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q1:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0

## Inter Quartile

In [26]:
#table form
descriptive= pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q1:50%","Q1:75%","Q1:100%","IQR","1.5 Rule","Lesser","Greater","Min","Max"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]
    descriptive.loc["Q1:25%",ColumnName]=dataset.describe()[ColumnName]["25%"]
    descriptive.loc["Q1:50%",ColumnName]=dataset.describe()[ColumnName]["50%"]
    descriptive.loc["Q1:75%",ColumnName]=dataset.describe()[ColumnName]["75%"]
    #descriptive.loc["Q1:99%",ColumnName]=dataset.describe()[ColumnName]["99%"]
    descriptive.loc["Q1:100%",ColumnName]=dataset.describe()[ColumnName]["max"]
 ## IQR
    descriptive.loc["IQR",ColumnName]=dataset.describe()[ColumnName]["75%"] - dataset.describe()[ColumnName]["25%"]
    descriptive.loc["1.5 Rule",ColumnName]= 1.5 * descriptive.loc["IQR",ColumnName]
    descriptive.loc["Lesser",ColumnName]=dataset.describe()[ColumnName]["25%"] - descriptive.loc["1.5 Rule",ColumnName]
    descriptive.loc["Greater",ColumnName]=dataset.describe()[ColumnName]["75%"] + descriptive.loc["1.5 Rule",ColumnName]
    descriptive.loc["Min",ColumnName]=dataset[ColumnName].min()
    descriptive.loc["Max",ColumnName]=dataset[ColumnName].max()

In [27]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q1:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q1:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q1:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5 Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,37.0,50.0,50.0,51.21,200000.0
Max,215,89.4,97.7,91.0,98.0,77.89,940000.0

In [28]:
descriptive.loc["Lesser"]["hsc_p"] > descriptive.loc["Min"]["hsc_p"]

True

In [29]:
descriptive.loc ["Min"]["hsc_p"] < descriptive.loc["Lesser"]["hsc_p"]

True

## Finding Outliers

In [30]:
lesser=[]
greater=[]
for columnName in quan:
    if (descriptive.loc["Min"][columnName]<descriptive.loc["Lesser"][columnName]):
        lesser.append(columnName)
    if (descriptive.loc["Max"][columnName]>descriptive.loc["Greater"][columnName]):
        greater.append(columnName)

In [31]:
lesser

['hsc_p']

In [32]:
greater

['hsc_p', 'degree_p', 'salary']

##Replacing the Outliers

In [33]:
for ColumnName in lesser:
    dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
for ColumnName in greater:
    dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]

C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\3454588075.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\3454588075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\3454588075.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\3454588075.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\3454588075.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\3454588075.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\3454588075.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\3454588075.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]

In [34]:
lesser=[]
greater=[]
for columnName in quan:
    if (descriptive.loc["Min"][columnName]<descriptive.loc["Lesser"][columnName]):
        lesser.append(columnName)
    if (descriptive.loc["Max"][columnName]>descriptive.loc["Greater"][columnName]):
        greater.append(columnName)

In [35]:
lesser

['hsc_p']

In [36]:
greater

['hsc_p', 'degree_p', 'salary']

##Frequency

In [37]:
dataset["ssc_p"].value_counts()

ssc_p
62.00    11
63.00    10
67.00     9
52.00     9
73.00     9
         ..
69.70     1
80.92     1
83.00     1
86.50     1
80.60     1
Name: count, Length: 103, dtype: int64

In [38]:
freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative Frequency","Cusum"])

In [39]:
freqTable

Empty DataFrame
Columns: [Unique_Values, Frequency, Relative Frequency, Cusum]
Index: []

In [40]:
def freqTable(ColumnName,dataset):
    freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative Frequency","Cusum"])
    freqTable["Unique_Values"]=dataset[ColumnName].value_counts().index
    freqTable["Frequency"]=dataset[ColumnName].value_counts().index
    freqTable["Relative Frequency"]=(freqTable["Frequency"]/103)
    freqTable["Cusum"]=freqTable["Relative Frequency"].cumsum()
    return freqTable

In [41]:
freqTable(ColumnName,dataset)

    Unique_Values  Frequency  Relative Frequency         Cusum
0        300000.0   300000.0         2912.621359   2912.621359
1        250000.0   250000.0         2427.184466   5339.805825
2        390000.0   390000.0         3786.407767   9126.213592
3        240000.0   240000.0         2330.097087  11456.310680
4        260000.0   260000.0         2524.271845  13980.582524
5        200000.0   200000.0         1941.747573  15922.330097
6        265000.0   265000.0         2572.815534  18495.145631
7        360000.0   360000.0         3495.145631  21990.291262
8        275000.0   275000.0         2669.902913  24660.194175
9        220000.0   220000.0         2135.922330  26796.116505
10       270000.0   270000.0         2621.359223  29417.475728
11       210000.0   210000.0         2038.834951  31456.310680
12       350000.0   350000.0         3398.058252  34854.368932
13       216000.0   216000.0         2097.087379  36951.456311
14       204000.0   204000.0         1980.582524  38932.038835
15       236000.0   236000.0         2291.262136  41223.300971
16       218000.0   218000.0         2116.504854  43339.805825
17       230000.0   230000.0         2233.009709  45572.815534
18       252000.0   252000.0         2446.601942  48019.417476
19       280000.0   280000.0         2718.446602  50737.864078
20       276000.0   276000.0         2679.611650  53417.475728
21       278000.0   278000.0         2699.029126  56116.504854
22       233000.0   233000.0         2262.135922  58378.640777
23       264000.0   264000.0         2563.106796  60941.747573
24       290000.0   290000.0         2815.533981  63757.281553
25       285000.0   285000.0         2766.990291  66524.271845
26       255000.0   255000.0         2475.728155  69000.000000
27       340000.0   340000.0         3300.970874  72300.970874
28       380000.0   380000.0         3689.320388  75990.291262
29       225000.0   225000.0         2184.466019  78174.757282
30       320000.0   320000.0         3106.796117  81281.553398
31       336000.0   336000.0         3262.135922  84543.689320
32       231000.0   231000.0         2242.718447  86786.407767
33       268000.0   268000.0         2601.941748  89388.349515
34       287000.0   287000.0         2786.407767  92174.757282
35       295000.0   295000.0         2864.077670  95038.834951

In [42]:
def univariate(dataset,quan):
    descriptive= pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q1:50%","Q1:75%","Q1:100%","IQR","1.5 Rule","Lesser","Greater","Min","Max"],columns=quan)
    for ColumnName in quan:
        descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
        descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
        descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]
        descriptive.loc["Q1:25%",ColumnName]=dataset.describe()[ColumnName]["25%"]
        descriptive.loc["Q1:50%",ColumnName]=dataset.describe()[ColumnName]["50%"]
        descriptive.loc["Q1:75%",ColumnName]=dataset.describe()[ColumnName]["75%"]
        #descriptive.loc["Q1:99%",ColumnName]=dataset.describe()[ColumnName]["99%"]
        descriptive.loc["Q1:100%",ColumnName]=dataset.describe()[ColumnName]["max"]
         ## IQR
        descriptive.loc["IQR",ColumnName]=dataset.describe()[ColumnName]["75%"] - dataset.describe()[ColumnName]["25%"]
        descriptive.loc["1.5 Rule",ColumnName]= 1.5 * descriptive.loc["IQR",ColumnName]
        descriptive.loc["Lesser",ColumnName]=dataset.describe()[ColumnName]["25%"] - descriptive.loc["1.5 Rule",ColumnName]
        descriptive.loc["Greater",ColumnName]=dataset.describe()[ColumnName]["75%"] + descriptive.loc["1.5 Rule",ColumnName]
        descriptive.loc["Min",ColumnName]=dataset[ColumnName].min()
        descriptive.loc["Max",ColumnName]=dataset[ColumnName].max()
    return descriptive

In [43]:
univariate(dataset,quan)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q1:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q1:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q1:100%,215.0,89.4,91.15,88.5,98.0,77.89,390000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5 Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,42.75,50.0,50.0,51.21,200000.0
Max,215,89.4,91.15,88.5,98.0,77.89,390000.0

In [44]:
lesser=[]
greater=[]
def findoutlier():
    for columnName in quan:
        if (descriptive.loc["Min"][columnName]<descriptive.loc["Lesser"][columnName]):
            lesser.append(columnName)
        if (descriptive.loc["Max"][columnName]>descriptive.loc["Greater"][columnName]):
            greater.append(columnName)
    return ()

In [45]:
findoutlier()

()

In [46]:
def replaceoutlier(ColumnName,dataset):
    for ColumnName in lesser:
        dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
    for ColumnName in greater:
        dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
    return(ColumnName,dataset)

In [47]:
replaceoutlier(ColumnName,dataset)

C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\1445678356.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\1445678356.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\1445678356.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\1445678356.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\1445678356.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\1445678356.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\1445678356.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_11836\1445678356.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]

('salary',
      sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
 0        1      M  67.00   Others  91.00   Others  Commerce     58.00
 1        2      M  79.33  Central  78.33   Others   Science     77.48
 2        3      M  65.00  Central  68.00  Central      Arts     64.00
 3        4      M  56.00  Central  52.00  Central   Science     52.00
 4        5      M  85.80  Central  73.60  Central  Commerce     73.30
 ..     ...    ...    ...      ...    ...      ...       ...       ...
 210    211      M  80.60   Others  82.00   Others  Commerce     77.60
 211    212      M  58.00   Others  60.00   Others   Science     72.00
 212    213      M  67.00   Others  67.00   Others  Commerce     73.00
 213    214      F  74.00   Others  66.00   Others  Commerce     58.00
 214    215      M  62.00  Central  58.00   Others   Science     53.00

       degree_t workex  etest_p specialisation  mba_p      status    salary
 0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
 1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
 2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
 3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
 4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  390000.0
 ..         ...    ...      ...            ...    ...         ...       ...
 210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  390000.0
 211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
 212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
 213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
 214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

 [215 rows x 15 columns])

In [48]:
dir(dataset["ssc_p"])

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_cacher',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [50]:
dataset["hsc_p"].skew()

0.16261050623024148

In [51]:
dataset["hsc_p"].kurtosis()

0.08690077018906717

In [53]:
def univariate(dataset,quan):
    descriptive= pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q1:50%","Q1:75%","Q1:100%","IQR","1.5 Rule","Lesser","Greater","Min","Max","Skew","Kurtosis"],columns=quan)
    for ColumnName in quan:
        descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
        descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
        descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]
        descriptive.loc["Q1:25%",ColumnName]=dataset.describe()[ColumnName]["25%"]
        descriptive.loc["Q1:50%",ColumnName]=dataset.describe()[ColumnName]["50%"]
        descriptive.loc["Q1:75%",ColumnName]=dataset.describe()[ColumnName]["75%"]
        #descriptive.loc["Q1:99%",ColumnName]=dataset.describe()[ColumnName]["99%"]
        descriptive.loc["Q1:100%",ColumnName]=dataset.describe()[ColumnName]["max"]
         ## IQR
        descriptive.loc["IQR",ColumnName]=dataset.describe()[ColumnName]["75%"] - dataset.describe()[ColumnName]["25%"]
        descriptive.loc["1.5 Rule",ColumnName]= 1.5 * descriptive.loc["IQR",ColumnName]
        descriptive.loc["Lesser",ColumnName]=dataset.describe()[ColumnName]["25%"] - descriptive.loc["1.5 Rule",ColumnName]
        descriptive.loc["Greater",ColumnName]=dataset.describe()[ColumnName]["75%"] + descriptive.loc["1.5 Rule",ColumnName]
        descriptive.loc["Min",ColumnName]=dataset[ColumnName].min()
        descriptive.loc["Max",ColumnName]=dataset[ColumnName].max()
        descriptive.loc["Skew",ColumnName]=dataset[ColumnName].skew()
        descriptive.loc["Kurtosis",ColumnName]=dataset[ColumnName].kurtosis()
    return descriptive

In [54]:
univariate(dataset,quan)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q1:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q1:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q1:100%,215.0,89.4,91.15,88.5,98.0,77.89,390000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5 Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,42.75,50.0,50.0,51.21,200000.0
Max,215,89.4,91.15,88.5,98.0,77.89,390000.0
Skew,0.0,-0.132649,0.162611,0.204164,0.282308,0.313576,0.8067
Kurtosis,-1.2,-0.60751,0.086901,-0.09749,-1.08858,-0.470723,-0.239837