In [72]:
from Univar import Univariate
import pandas as pd
dataset = pd.read_csv("Placement.csv")

In [73]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [74]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [75]:
dataset.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [76]:
dataset["ssc_p"].median()

67.0

In [77]:
#dataset["ssc_p"].mode()
dataset["ssc_p"].mode()[0]

62.0

In [78]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [79]:
quan,qual =Univariate.quanqual(dataset)

#Central Tendancy

In [80]:
descriptive = pd.DataFrame()

In [81]:
descriptive = pd.DataFrame(index=[])

In [82]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode"])

In [83]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [84]:
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [85]:
#descriptive["hsc_p"] ["Mean"] = 0
descriptive.loc["Mean", "hsc_p"] = 0

In [86]:
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN     0      NaN     NaN   NaN    NaN
Median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [87]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [88]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()

In [89]:
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]

In [90]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

In [91]:
import numpy as np

In [92]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [93]:
#table form
descriptive= pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]

In [94]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

In [95]:
#table form
descriptive= pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q1:50%","Q1:75%","Q1:100%"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]
    descriptive.loc["Q1:25%",ColumnName]=dataset.describe()[ColumnName]["25%"]
    descriptive.loc["Q1:50%",ColumnName]=dataset.describe()[ColumnName]["50%"]
    descriptive.loc["Q1:75%",ColumnName]=dataset.describe()[ColumnName]["75%"]
    #descriptive.loc["Q1:99%",ColumnName]=dataset.describe()[ColumnName]["99%"]
    descriptive.loc["Q1:100%",ColumnName]=dataset.describe()[ColumnName]["max"]

In [96]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q1:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q1:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q1:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0

## Inter Quartile

In [97]:
#table form
descriptive= pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q1:50%","Q1:75%","Q1:100%","IQR","1.5 Rule","Lesser","Greater","Min","Max"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]
    descriptive.loc["Q1:25%",ColumnName]=dataset.describe()[ColumnName]["25%"]
    descriptive.loc["Q1:50%",ColumnName]=dataset.describe()[ColumnName]["50%"]
    descriptive.loc["Q1:75%",ColumnName]=dataset.describe()[ColumnName]["75%"]
    #descriptive.loc["Q1:99%",ColumnName]=dataset.describe()[ColumnName]["99%"]
    descriptive.loc["Q1:100%",ColumnName]=dataset.describe()[ColumnName]["max"]
 ## IQR
    descriptive.loc["IQR",ColumnName]=dataset.describe()[ColumnName]["75%"] - dataset.describe()[ColumnName]["25%"]
    descriptive.loc["1.5 Rule",ColumnName]= 1.5 * descriptive.loc["IQR",ColumnName]
    descriptive.loc["Lesser",ColumnName]=dataset.describe()[ColumnName]["25%"] - descriptive.loc["1.5 Rule",ColumnName]
    descriptive.loc["Greater",ColumnName]=dataset.describe()[ColumnName]["75%"] + descriptive.loc["1.5 Rule",ColumnName]
    descriptive.loc["Min",ColumnName]=dataset[ColumnName].min()
    descriptive.loc["Max",ColumnName]=dataset[ColumnName].max()

In [98]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q1:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q1:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q1:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5 Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,37.0,50.0,50.0,51.21,200000.0
Max,215,89.4,97.7,91.0,98.0,77.89,940000.0

In [109]:
descriptive.loc["Lesser"]["hsc_p"] > descriptive.loc["Min"]["hsc_p"]

True

In [110]:
descriptive.loc ["Min"]["hsc_p"] < descriptive.loc["Lesser"]["hsc_p"]

True

## Finding Outliers

In [113]:
lesser=[]
greater=[]
for columnName in quan:
    if (descriptive.loc["Min"][columnName]<descriptive.loc["Lesser"][columnName]):
        lesser.append(columnName)
    if (descriptive.loc["Max"][columnName]>descriptive.loc["Greater"][columnName]):
        greater.append(columnName)

In [114]:
lesser

['hsc_p']

In [115]:
greater

['hsc_p', 'degree_p', 'salary']

##Replacing the Outliers

In [124]:
for ColumnName in lesser:
    dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
for ColumnName in greater:
    dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]

C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\3454588075.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\3454588075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\3454588075.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\3454588075.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\3454588075.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\3454588075.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\3454588075.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\3454588075.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]

In [125]:
lesser=[]
greater=[]
for columnName in quan:
    if (descriptive.loc["Min"][columnName]<descriptive.loc["Lesser"][columnName]):
        lesser.append(columnName)
    if (descriptive.loc["Max"][columnName]>descriptive.loc["Greater"][columnName]):
        greater.append(columnName)

In [126]:
lesser

['hsc_p']

In [127]:
greater

['hsc_p', 'degree_p', 'salary']

##Frequency

In [98]:
dataset["ssc_p"].value_counts()

ssc_p
62.00    11
63.00    10
67.00     9
52.00     9
73.00     9
         ..
69.70     1
80.92     1
83.00     1
86.50     1
80.60     1
Name: count, Length: 103, dtype: int64

In [99]:
freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative Frequency","Cusum"])

In [100]:
freqTable

Empty DataFrame
Columns: [Unique_Values, Frequency, Relative Frequency, Cusum]
Index: []

In [115]:
def freqTable(ColumnName,dataset):
    freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative Frequency","Cusum"])
    freqTable["Unique_Values"]=dataset[ColumnName].value_counts().index
    freqTable["Frequency"]=dataset[ColumnName].value_counts().index
    freqTable["Relative Frequency"]=(freqTable["Frequency"]/103)
    freqTable["Cusum"]=freqTable["Relative Frequency"].cumsum()
    return freqTable

In [116]:
freqTable(ColumnName,dataset)

    Unique_Values  Frequency  Relative Frequency          Cusum
0        300000.0   300000.0         2912.621359    2912.621359
1        250000.0   250000.0         2427.184466    5339.805825
2        240000.0   240000.0         2330.097087    7669.902913
3        260000.0   260000.0         2524.271845   10194.174757
4        360000.0   360000.0         3495.145631   13689.320388
5        200000.0   200000.0         1941.747573   15631.067961
6        265000.0   265000.0         2572.815534   18203.883495
7        220000.0   220000.0         2135.922330   20339.805825
8        275000.0   275000.0         2669.902913   23009.708738
9        210000.0   210000.0         2038.834951   25048.543689
10       400000.0   400000.0         3883.495146   28932.038835
11       270000.0   270000.0         2621.359223   31553.398058
12       216000.0   216000.0         2097.087379   33650.485437
13       350000.0   350000.0         3398.058252   37048.543689
14       500000.0   500000.0         4854.368932   41902.912621
15       252000.0   252000.0         2446.601942   44349.514563
16       236000.0   236000.0         2291.262136   46640.776699
17       230000.0   230000.0         2233.009709   48873.786408
18       280000.0   280000.0         2718.446602   51592.233010
19       218000.0   218000.0         2116.504854   53708.737864
20       204000.0   204000.0         1980.582524   55689.320388
21       276000.0   276000.0         2679.611650   58368.932039
22       255000.0   255000.0         2475.728155   60844.660194
23       285000.0   285000.0         2766.990291   63611.650485
24       340000.0   340000.0         3300.970874   66912.621359
25       690000.0   690000.0         6699.029126   73611.650485
26       233000.0   233000.0         2262.135922   75873.786408
27       290000.0   290000.0         2815.533981   78689.320388
28       650000.0   650000.0         6310.679612   85000.000000
29       264000.0   264000.0         2563.106796   87563.106796
30       225000.0   225000.0         2184.466019   89747.572816
31       940000.0   940000.0         9126.213592   98873.786408
32       393000.0   393000.0         3815.533981  102689.320388
33       380000.0   380000.0         3689.320388  106378.640777
34       420000.0   420000.0         4077.669903  110456.310680
35       425000.0   425000.0         4126.213592  114582.524272
36       336000.0   336000.0         3262.135922  117844.660194
37       231000.0   231000.0         2242.718447  120087.378641
38       268000.0   268000.0         2601.941748  122689.320388
39       450000.0   450000.0         4368.932039  127058.252427
40       287000.0   287000.0         2786.407767  129844.660194
41       411000.0   411000.0         3990.291262  133834.951456
42       320000.0   320000.0         3106.796117  136941.747573
43       278000.0   278000.0         2699.029126  139640.776699
44       295000.0   295000.0         2864.077670  142504.854369

In [156]:
def univariate(dataset,quan):
    descriptive= pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q1:50%","Q1:75%","Q1:100%","IQR","1.5 Rule","Lesser","Greater","Min","Max"],columns=quan)
    for ColumnName in quan:
        descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
        descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
        descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]
        descriptive.loc["Q1:25%",ColumnName]=dataset.describe()[ColumnName]["25%"]
        descriptive.loc["Q1:50%",ColumnName]=dataset.describe()[ColumnName]["50%"]
        descriptive.loc["Q1:75%",ColumnName]=dataset.describe()[ColumnName]["75%"]
        #descriptive.loc["Q1:99%",ColumnName]=dataset.describe()[ColumnName]["99%"]
        descriptive.loc["Q1:100%",ColumnName]=dataset.describe()[ColumnName]["max"]
         ## IQR
        descriptive.loc["IQR",ColumnName]=dataset.describe()[ColumnName]["75%"] - dataset.describe()[ColumnName]["25%"]
        descriptive.loc["1.5 Rule",ColumnName]= 1.5 * descriptive.loc["IQR",ColumnName]
        descriptive.loc["Lesser",ColumnName]=dataset.describe()[ColumnName]["25%"] - descriptive.loc["1.5 Rule",ColumnName]
        descriptive.loc["Greater",ColumnName]=dataset.describe()[ColumnName]["75%"] + descriptive.loc["1.5 Rule",ColumnName]
        descriptive.loc["Min",ColumnName]=dataset[ColumnName].min()
        descriptive.loc["Max",ColumnName]=dataset[ColumnName].max()
    return descriptive

In [157]:
univariate(dataset,quan)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,42.75,66.358558,72.100558,62.278186,277648.648649
Median,108.0,67.0,42.75,66.0,71.0,62.0,265000.0
Mode,1,62.0,42.75,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,42.75,61.0,60.0,57.945,240000.0
Q1:50%,108.0,67.0,42.75,66.0,71.0,62.0,265000.0
Q1:75%,161.5,75.7,42.75,72.0,83.5,66.255,300000.0
Q1:100%,215.0,89.4,42.75,88.5,98.0,77.89,390000.0
IQR,107.0,15.1,0.0,11.0,23.5,8.31,60000.0
1.5 Rule,160.5,22.65,0.0,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,42.75,88.5,118.75,78.72,390000.0
Min,1,40.89,42.75,50.0,50.0,51.21,200000.0
Max,215,89.4,42.75,88.5,98.0,77.89,390000.0

In [160]:
lesser=[]
greater=[]
def findoutlier():
    for columnName in quan:
        if (descriptive.loc["Min"][columnName]<descriptive.loc["Lesser"][columnName]):
            lesser.append(columnName)
        if (descriptive.loc["Max"][columnName]>descriptive.loc["Greater"][columnName]):
            greater.append(columnName)
    return ()

In [161]:
findoutlier()

()

In [163]:
def replaceoutlier(ColumnName,dataset):
    for ColumnName in lesser:
        dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
    for ColumnName in greater:
        dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
    return(ColumnName,dataset)

In [165]:
replaceoutlier(ColumnName,dataset)

C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\1445678356.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\1445678356.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]<descriptive.loc["Lesser",ColumnName]] = descriptive.loc["Lesser",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\1445678356.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\1445678356.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\1445678356.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\1445678356.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\1445678356.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_16648\1445678356.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ColumnName][dataset[ColumnName]>descriptive.loc["Greater",ColumnName]] = descriptive.loc["Greater",ColumnName]

('salary',
      sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
 0        1      M  67.00   Others  42.75   Others  Commerce     58.00
 1        2      M  79.33  Central  42.75   Others   Science     77.48
 2        3      M  65.00  Central  42.75  Central      Arts     64.00
 3        4      M  56.00  Central  42.75  Central   Science     52.00
 4        5      M  85.80  Central  42.75  Central  Commerce     73.30
 ..     ...    ...    ...      ...    ...      ...       ...       ...
 210    211      M  80.60   Others  42.75   Others  Commerce     77.60
 211    212      M  58.00   Others  42.75   Others   Science     72.00
 212    213      M  67.00   Others  42.75   Others  Commerce     73.00
 213    214      F  74.00   Others  42.75   Others  Commerce     58.00
 214    215      M  62.00  Central  42.75   Others   Science     53.00

       degree_t workex  etest_p specialisation  mba_p      status    salary
 0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
 1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
 2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
 3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
 4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  390000.0
 ..         ...    ...      ...            ...    ...         ...       ...
 210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  390000.0
 211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
 212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
 213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
 214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

 [215 rows x 15 columns])