In [1]:
from Univar import Univariate
import pandas as pd
dataset = pd.read_csv("Placement.csv")

In [2]:
dataset

   Unnamed: 0        Minimum             Q1            Median      Q3  Maximum
0         Day             32             56              74.5   82.50     99.0
1       Night           25.5             78                81   89.00     98.0
2         NaN            NaN            NaN               NaN     NaN      NaN
3         NaN            NaN            NaN               NaN     NaN      NaN
4         Day            IQR        82.5-56              26.5     NaN      NaN
5         NaN   Lesser Range  Q1-(1.5)(IQR)    56-(1.5)(26.5)   16.25      NaN
6         NaN  Greater range  Q3+(1.5)(IQR)  82.5+(1.5)(26.5)  122.25      NaN
7         NaN            NaN            NaN               NaN     NaN      NaN
8         NaN            NaN            NaN               NaN     NaN      NaN
9       Night            IQR          89-78                11     NaN      NaN
10        NaN   Lesser Range  Q1-(1.5)(IQR)      78-(1.5)(11)   61.50      NaN
11        NaN  Greater range  Q3+(1.5)(IQR)      89+(1.5)(11)  105.50      NaN

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      object
 1   Minimum     8 non-null      object
 2   Q1          8 non-null      object
 3   Median      8 non-null      object
 4   Q3          6 non-null      float64
 5   Maximum     2 non-null      float64
dtypes: float64(2), object(4)
memory usage: 708.0+ bytes

In [4]:
dataset.columns

Index(['Unnamed: 0', 'Minimum', 'Q1', 'Median', 'Q3', 'Maximum'], dtype='object')

In [6]:
dataset["ssc_p"].mean()

KeyError: 'ssc_p'

In [ ]:
dataset["ssc_p"].median()

In [ ]:
#dataset["ssc_p"].mode()
dataset["ssc_p"].mode()[0]

In [7]:
dataset.describe()

               Q3    Maximum
count    6.000000   2.000000
mean    79.500000  98.500000
std     37.221969   0.707107
min     16.250000  98.000000
25%     66.750000  98.250000
50%     85.750000  98.500000
75%    101.375000  98.750000
max    122.250000  99.000000

In [8]:
quan,qual =Univariate.quanqual(dataset)

#Central Tendancy

In [9]:
descriptive = pd.DataFrame()

In [10]:
descriptive = pd.DataFrame(index=[])

In [11]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode"])

In [12]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [13]:
descriptive

         Q3 Maximum
Mean    NaN     NaN
Median  NaN     NaN
Mode    NaN     NaN

In [14]:
descriptive["hsc_p"] ["Mean"]

KeyError: 'hsc_p'

In [15]:
#descriptive["hsc_p"] ["Mean"] = 0
descriptive.loc["Mean", "hsc_p"] = 0

In [16]:
descriptive

         Q3 Maximum  hsc_p
Mean    NaN     NaN    0.0
Median  NaN     NaN    NaN
Mode    NaN     NaN    NaN

In [17]:
quan

['Q3', 'Maximum']

In [18]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()

In [19]:
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]

In [20]:
descriptive

           Q3 Maximum
Mean     79.5    98.5
Median  85.75    98.5
Mode    16.25    98.0

In [21]:
import numpy as np

In [22]:
np.percentile(dataset["ssc_p"],10)

KeyError: 'ssc_p'

In [23]:
np.percentile(dataset["ssc_p"],15)

KeyError: 'ssc_p'

In [24]:
np.percentile(dataset["ssc_p"],30)

KeyError: 'ssc_p'

In [25]:
dataset.describe()

               Q3    Maximum
count    6.000000   2.000000
mean    79.500000  98.500000
std     37.221969   0.707107
min     16.250000  98.000000
25%     66.750000  98.250000
50%     85.750000  98.500000
75%    101.375000  98.750000
max    122.250000  99.000000

In [26]:
#table form
descriptive= pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]

In [27]:
descriptive

           Q3 Maximum
Mean     79.5    98.5
Median  85.75    98.5
Mode    16.25    98.0

In [28]:
#table form
descriptive= pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q1:50%","Q1:75%","Q1:100%"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]
    descriptive.loc["Q1:25%",ColumnName]=dataset.describe()[ColumnName]["25%"]
    descriptive.loc["Q1:50%",ColumnName]=dataset.describe()[ColumnName]["50%"]
    descriptive.loc["Q1:75%",ColumnName]=dataset.describe()[ColumnName]["75%"]
    #descriptive.loc["Q1:99%",ColumnName]=dataset.describe()[ColumnName]["99%"]
    descriptive.loc["Q1:100%",ColumnName]=dataset.describe()[ColumnName]["max"]

In [29]:
descriptive

              Q3 Maximum
Mean        79.5    98.5
Median     85.75    98.5
Mode       16.25    98.0
Q1:25%     66.75   98.25
Q1:50%     85.75    98.5
Q1:75%   101.375   98.75
Q1:100%   122.25    99.0

## Inter Quartile

In [40]:
#table form
descriptive= pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q1:50%","Q1:75%","Q1:100%","IQR","1.5 Rule","Lesser","Greater","Min","Max"],columns=quan)
for ColumnName in quan:
    descriptive.loc["Mean",ColumnName]=dataset[ColumnName].mean()
    descriptive.loc["Median",ColumnName]=dataset[ColumnName].median()
    descriptive.loc["Mode",ColumnName]=dataset[ColumnName].mode()[0]
    descriptive.loc["Q1:25%",ColumnName]=dataset.describe()[ColumnName]["25%"]
    descriptive.loc["Q1:50%",ColumnName]=dataset.describe()[ColumnName]["50%"]
    descriptive.loc["Q1:75%",ColumnName]=dataset.describe()[ColumnName]["75%"]
    #descriptive.loc["Q1:99%",ColumnName]=dataset.describe()[ColumnName]["99%"]
    descriptive.loc["Q1:100%",ColumnName]=dataset.describe()[ColumnName]["max"]
 ## IQR
    descriptive.loc["IQR",ColumnName]=dataset.describe()[ColumnName]["75%"] - dataset.describe()[ColumnName]["25%"]
    descriptive.loc["1.5 Rule",ColumnName]= 1.5 * descriptive.loc["IQR",ColumnName]
    descriptive.loc["Lesser",ColumnName]=dataset.describe()[ColumnName]["25%"] - descriptive.loc["1.5 Rule",ColumnName]
    descriptive.loc["Greater",ColumnName]=dataset.describe()[ColumnName]["75%"] + descriptive.loc["1.5 Rule",ColumnName]
    descriptive.loc["Min",ColumnName]=dataset[ColumnName].min()
    descriptive.loc["Max",ColumnName]=dataset[ColumnName].max()

In [41]:
descriptive

                Q3 Maximum
Mean          79.5    98.5
Median       85.75    98.5
Mode         16.25    98.0
Q1:25%       66.75   98.25
Q1:50%       85.75    98.5
Q1:75%     101.375   98.75
Q1:100%     122.25    99.0
IQR         34.625     0.5
1.5 Rule   51.9375    0.75
Lesser     14.8125    97.5
Greater   153.3125    99.5
Min          16.25    98.0
Max         122.25    99.0